/* ===========================
   ESTILOS PARA PC (DEFAULT)
   =========================== */

/* Fondo general */
body {
    margin: 0;
    background-color: #F5E9D3;
    font-family: Arial, sans-serif;
}

/* Contenedor general */
#contenedor {
    width: 100%;
}

/* Imagen del header */
header img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}


/* Botón hamburguesa oculto en PC */
/* ==========================
   TABLET Y PC
   ========================== */

@media (min-width: 800px) {

    #hamburguesa {
        display: none;   /* Ya no se usa */
    }

    nav {
        position: static;      /* ← ESTE ES EL ARREGLO */
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
        padding: 20px;
        background:  #4B2E1E ;
        left: 0;               /* ← Eliminar desbordamiento */
    }

    nav a {
        font-size: 20px;
        color: white;
    }
}

/* Contenedor del texto */
.texto-contenedor {
    max-width: 90%;          /* Se adapta a móvil */
    width: 700px;            /* Tamaño ideal en tablet/pc */
    margin: 20px auto;       /* CENTRAR */
    background: white;       /* Fondo blanco */
    padding: 20px;           /* Espaciado interno */
    border-radius: 15px;     /* Esquinas redondeadas */
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); /* Suave sombra elegante */
}



body {
    font-family: 'Roboto', sans-serif;
}

h2, h3 {
    font-family: 'Poppins', sans-serif;
}
