
  header img {
    display: block;        /* Permite centrar */
    margin: 0 auto;        /* Centra horizontalmente */
    width: 100%;           /* Ocupa todo el ancho disponible */
    max-width: 1200px;     /* Evita que sea demasiado grande en pantallas grandes */
    height: 220px;         /* La hace alargada horizontal */
    object-fit: cover;     /* Ajusta sin deformar */
    border-radius: 10px;   /* Opcional: borde redondeado */
}

        body {
    background-color: #F5E9D3;
}

/* Botón hamburguesa visible solo en móvil */
/* ==========================
   MÓVIL (DEFAULT)
   ========================== */

#hamburguesa {
    display: block;
    font-size: 30px;
    padding: 15px;
    cursor: pointer;
    background: #4E342E;
    color: white;
}

nav {
    position: absolute;
    top: 60px;
    left: -140px;          /* SE OCULTA */
    width: 130px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background:  #4B2E1E ;
    transition: left 0.3s ease;
}

nav a {
    font-size: 18px;
    white-space: nowrap;
    color: white;
}


/* Tablet */
@media (max-width: 900px) {
    .galeria-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Móvil */
@media (max-width: 500px) {
    .galeria-grid {
        grid-template-columns: 1fr;
    }
}



/* ==================================
   EFECTO SUAVE GALERÍA (MÓVIL)
   ================================== */

.galeria-item img {
    opacity: 0;
    transform: translateY(15px);
    animation: fadeInUpMovil 1s ease-out forwards;
}

/* Retrasos más pequeños en móvil */
.galeria-item:nth-child(1) img { animation-delay: 0s; }
.galeria-item:nth-child(2) img { animation-delay: 0.07s; }
.galeria-item:nth-child(3) img { animation-delay: 0.14s; }
.galeria-item:nth-child(4) img { animation-delay: 0.21s; }
.galeria-item:nth-child(5) img { animation-delay: 0.28s; }
.galeria-item:nth-child(6) img { animation-delay: 0.35s; }
.galeria-item:nth-child(7) img { animation-delay: 0.42s; }
.galeria-item:nth-child(8) img { animation-delay: 0.49s; }
.galeria-item:nth-child(9) img { animation-delay: 0.56s; }

@keyframes fadeInUpMovil {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

