/* ===========================
   ESTILOS PARA PC (DEFAULT)
   =========================== */

/* Fondo general */
body {
    margin: 0;
    background-color: #F5E9D3;
    font-family: Arial, sans-serif;
}

/* Contenedor general */
#contenedor {
    width: 100%;
}

/* Imagen del header */
header img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}


/* Botón hamburguesa oculto en PC */
/* ==========================
   TABLET Y PC
   ========================== */

@media (min-width: 800px) {

    #hamburguesa {
        display: none;   /* Ya no se usa */
    }

    nav {
        position: static;      /* ← ESTE ES EL ARREGLO */
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
        padding: 20px;
        background:  #4B2E1E ;
        left: 0;               /* ← Eliminar desbordamiento */
    }

    nav a {
        font-size: 20px;
        color: white;
    }
}

/* Contenedor del texto */
.texto-contenedor {
    max-width: 90%;          /* Se adapta a móvil */
    width: 700px;            /* Tamaño ideal en tablet/pc */
    margin: 20px auto;       /* CENTRAR */
    background: white;       /* Fondo blanco */
    padding: 20px;           /* Espaciado interno */
    border-radius: 15px;     /* Esquinas redondeadas */
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); /* Suave sombra elegante */
}


/* ===========================
   CONTACTO COFFE NUVO
   =========================== */

.contacto {
    max-width: 1100px;
    margin: 60px auto;
    padding: 0 20px 60px;
    text-align: center;
}

.contacto h2 {
    color: #4B2E1E;
    font-size: 2.2rem;
    margin-bottom: 5px;
}

.contacto .sub {
    color: #7A5B47;
    margin-bottom: 35px;
}

/* FLEXBOX */
.contacto-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   /* Centrado horizontal */
    align-items: center;       /* Centrado vertical */
    gap: 25px;
}

/* Tarjetas de información */
.contacto-item {
    background: #FFFFFF;
    padding: 20px 28px;
    border-radius: 16px;
    width: 260px;
    box-shadow: 0 6px 14px rgba(0,0,0,0.1);
    border: 1px solid rgba(75,46,30,0.1);
}

.contacto-item h3 {
    color: #4B2E1E;
    margin-bottom: 8px;
    font-size: 1.2rem;
}

.contacto-item p {
    color: #5a4638;
    line-height: 1.4rem;
    font-size: 0.95rem;
}



body {
    font-family: 'Roboto', sans-serif;
}

h2, h3 {
    font-family: 'Poppins', sans-serif;
}
